/* CSS for Header, Footer, and Navigation */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
    background-color: #000000;
    font-family: 'Montserrat';
}

.navbar-brand {
    font-weight: 900;
    font-size: 40px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.navbar-brand:hover {
    color: #D6FD51;
}

.nav-link {
    font-size: 32px;
    color: #D9D9D9;
}

.button {
    display: none;
}



/* Desktop CSS */
@media (min-width: 992px) {
    .nav-link {
        margin-right: 30px;
    }

    .button {
        display: block;
        margin-right: 2px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #D6FD51;
        width: 50%;
        margin: auto;
        padding-bottom: 3px;
        margin-bottom: -6px;
    }

    .navbar {
        margin: 35px 0 35px 0;
    }
}






